@font-face {
    font-family: "Conduit ITC";
    src: url(dew://lib/Conduit-ITC.woff);
}

:root {
    --content-width: 61.11111111111111vh;
    --center: calc(50vw - 29.3vh); 33.59375vw;
    --right-edge: 78.125vw;
    --left-edge: calc(50vw - 170vh);-39.0625vw;

    --color-text-default: #f6f6f6;
    --color-hilite: #eaeef8;
    --color-ice: #adc4df;

    color: var(--color-text-default);
    font-family: "Conduit ITC";
}

.backdrop {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.72);
    z-index: -1;
    opacity: 1;
    transition: opacity 0.4s ease-in-out;
}

body[gpu] .backdrop {
    backdrop-filter: blur(7px);
}

.backdrop-enter, .backdrop-leave-to {
    opacity:0;
}

html {
    padding:0;
    margin:0;
    overflow: hidden;
    font-family: "Conduit ITC", sans-serif;
}

body {
    padding:0;
    margin:0;
    height:100%;
    letter-spacing: 0.02778vh;
}

* {
    box-sizing: border-dialog;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(var(--left-edge));
    }

    80% {
        transform: translateX(var(--left-edge));
    }

    100% {
        transform: translateX(var(--center));
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(var(--right-edge));
    }

    80% {
        transform: translateX(var(--right-edge));
    }

    100% {
        transform: translateX(var(--center));
    }
}

@keyframes slideOutToLeft {
    from {
        transform: translateX(var(--center));
    }

    to {
        transform: translateX(var(--left-edge));
    }
}

@keyframes slideOutToRight {
    from {
        transform: translateX(var(--center));
    }

    to {
        transform: translateX(var(--right-edge));
    }
}

@keyframes scaleUp {
    0% {
        transform: scaleY(0);
    }

    93.75% {
        transform: scaleY(1.05);
    }

    100% {
        transform: scaleY(1);
    }
}

@keyframes scaleDown {
    0% {
        transform: scaleY(1);
    }

    0.33% {
        transform: scaleY(1.05);
    }

    100% {
        transform: scaleY(0);
    }
}

#dialog {
    position: absolute;
    top: 27.60416vh;
    left: 0vh;
    width: 100%;
    height: 44.44444vh;
    overflow: hidden;
    opacity: 0;
    transform: scaleY(0);
}

#dialog.show .slide-right {
    opacity: 0;
    transform: translateX(var(--right-edge));
    animation:
        slideInFromRight 500ms cubic-bezier(0.2075, 0.41111, 0.7025, 1) both,
        fadeIn 100ms linear 400ms both;
}

#dialog.show .slide-left {
    opacity: 0;
    transform: translateX(var(--left-edge));
    animation:
        slideInFromLeft 500ms cubic-bezier(0.2075, 0.41111, 0.7025, 1) both,
        fadeIn 100ms linear 400ms both;
}

#dialog.hide .slide-right {
    opacity: 1;
    transform: translateX(var(--center));
    animation:
        slideOutToRight 100ms cubic-bezier(0.2025, 0.39444, 0.705, 1) both,
        fadeOut 100ms linear both;
}

#dialog.hide .slide-left {
    opacity: 1;
    transform: translateX(var(--center));
    animation:
        slideOutToLeft 100ms cubic-bezier(0.2025, 0.39444, 0.705, 1) both,
        fadeOut 100ms linear both;
}

#dialog.show {
    opacity: 0;
    animation:
        scaleUp 375ms cubic-bezier(0.2975, 0, 0.7, 1) both,
        fadeIn 425ms cubic-bezier(0.015, 0.02778, 0.7175, 1) both;
}

#dialog.hide {
    opacity: 1;
    animation:
        scaleDown 275ms cubic-bezier(0.2975, 0, 0.7, 1) 100ms both,
        fadeOut 400ms cubic-bezier(0.2275, 0.02778, 0.8425, 0.60556) both;
}

.dialog-header {
    background: hsl(210deg 30% 10% / 85%);
    border: 0.13889vh solid rgba(64, 69, 78, 0.85);
    border-left: none;
    border-right: none;
    height: 6.25vh;
}

.dialog-title {
    margin-top: -0.83333vh;
    margin-left: 0.27778vh;
    font-size: 6.66667vh;
    color: var(--color-hilite);
}

.dialog-body {
    position: absolute;
    top: 6.52778vh;
    padding-left: 0.41667vh;
    width: 100%;
    background: linear-gradient(hsl(216deg 70% 17% / 85%), hsl(219deg 70% 8% / 85%));
    font-size: 3.19444vh;
    height: 37.08334vh;
    padding-top: 0.27778vh;
    padding-bottom: 0.55556vh;
    color: var(--color-ice);
}

.dialog-content {
    width: var(--content-width);
}

.dialog-message {
    max-height: 13.88888vh;
    min-height: 6.94444vh;
}

.dialog-message-input {
    height: 9.02778vh;
}

.dialog-footer {
    position: absolute;
    bottom: 0.27778vh;
    left: -0.55556vh;
    width: 100%;
}

.button::before {
    display: inline-block;
    width: 3.88888vh;
    height: 3.88888vh;
    margin-top: 0.13888vh;
    margin-right: 0.27778vh;   
    background: var(--icon);
    background-size: 3.88888vh 3.88888vh;
    content: "";
}

.button-key>.button {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    margin-right: 1.38888vh;
    font-size: 3.19444vh;
    color: inherit;
    text-decoration: none;
}

.button-key>.button>.button-label:hover {
    text-decoration: underline;
}

.button[data-btn="a_button"] {
    --icon: url('dew://assets/buttons/360_A.png');
}

.button[data-btn="b_button"] {
    --icon: url('dew://assets/buttons/360_B.png');
}

.button[data-btn="x_button"] {
    --icon: url('dew://assets/buttons/360_X.png');
}

.button[data-btn="y_button"] {
    --icon: url('dew://assets/buttons/360_Y.png');
}

ul.dialog-list {
    list-style: none;
    padding: 1.25vh 0 0 1.25vh;
    margin: 0;
}

ul.dialog-list>li {
    font-size: 3.26388vh;
    text-transform: uppercase;
    padding-bottom: 0.4vh;
    margin: 0vh;
    letter-spacing: 0vh;
}

ul.dialog-list>li.hilite {
    color: var(--color-hilite);
}

ul.dialog-list>li {
    position: relative; /* allow the focusbar to fill the element */
    isolation: isolate; /* prevents -1 z-index from escaping */
}

ul.dialog-list>li::before {
    content: "";
    width: 60.41666666666667vh;
    height: 3.88888vh;
    position: absolute;
    background: url(dew://assets/ux/buttonhover.svg);
    transition: opacity 120ms linear;
    opacity: 0;
    margin-left: -1.11112vh;
    z-index: -1;
    will-change: opacity;
}

ul.dialog-list>li.hilite::before {
    opacity: 1;
    transition: none;
}

.dialog_input_container {
    width:100%;
    display:flex;
    height: 100%;
    flex-direction:column;
}

.dialog_input {
    margin: inherit;
    background-color: rgb(109 109 109 / 16%);
    border-radius: 0.55556vh;
    line-height: 1.0em;
    border: none;
    resize: none;
    width: 100%;
    color: var(--color-ice);
    padding: 0.69444vh;
    padding-left: 1.11112vh;
    font-family: "Conduit ITC", sans-serif;
    -webkit-backface-visibility: hidden;
    font-weight: normal;
    font-size: 2.77778vh;
    transform: translateX(calc(-1 * var(--center)));
    margin-left: var(--center);
}

.dialog_input:focus {
    outline: none;
    color: var(--color-hilite);
    background-color: rgb(215 215 215 / 16%);
}

.charCountInput, .charCountTextarea {
    position: absolute;
    right: -1.52778vh;
    text-align: right;
    font-size: 1.80556vh;
    width: 9.72222vh;
    color: #939393b0;
}

.countError {
    color: #e50000b0;
}

.charCountTextarea {
    bottom: 0.69444vh;
}

.charCountInput {
    bottom: 0vh;
}

.dialog_input_error {
    bottom: -4.30556vh;
    position: absolute;
    font-size: 0.6em;
    color: #CA2F32;
    font-weight: bold;
}

.dialog-icon {
    position: absolute;
    width: 7.63888vh;
    height: 7.63888vh;
    padding-top: 0.69444vh;
}

.dialog-icon-offset {
    padding-left: 8.33334vh;
    margin-bottom: 1.66666vh;
}